*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container{
    width: 100%;
    margin: auto;
    
    
}
.logo{
  margin-left: 10%;
}
.logo img{
    border-radius: 50%;
}
.abc{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 2%;
}
.menu-shea{
   display: grid;
   grid-template-columns: 1.5fr 1fr;
}
ul{
    margin-left: 40px;

}
ul :hover{
    background-color: #FFA800;
}

li{
   display: inline;
   padding: 20px;
}
li a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.shea{
    text-align: right;
}
.ab{
    width: 280px;
    height:40px;
    font-size: 20px;
    background-color: rgb(197, 191, 191);
    padding-left: 10px;
    border-radius: 5px;
}
.shea button{
    width: 100px;
    height: 40px;
    color: wheat;
    font-size: 20px;
    background-color: red;
    margin-left: 10px;
    margin-right: 200px;
    border-radius: 5px;
}
.intro-banner{
   display: grid;
   grid-template-columns: 1fr 1fr;
    grid-gap:32px;
    margin-top: 80px;
}
.intro-video{
    padding: 0;
}
.intro-image{
    text-align: right;
    padding: 0;
}
.vietnam{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;

}
.text{
    margin: 40px 0 40px 16px;
}
.text h1{
font-size: 50px;
color: red;
border: red solid 5px;
border-radius: 6px;
width: 350px;
text-align: center;
}
.footer{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 180px;
    background-color: rgb(209, 104, 18);
   }
   .coppy-right{
       font-size: 40px;
       color: black;
       margin: auto 32px;
       padding-left: 16px;
   }
   
   .eml{
       width: 278px;
       height: 50px;
       border: 2px solid #ffffff;
       border-radius: 5px;
       background-color: transparent;
       color: #000000;
       font-size: 20px;
       padding-right: 24px;
       padding-left: 26px;
       margin-right: 12px;
   
   }
   
   .sub{
       background-color: #FFA800;
       width: 220px;
       height: 52px;
       font-size: 16px;
       margin-left: 12px;
       border-radius: 5px;
       color: #ffffff;
   
   }
   .com{
       margin: auto;
   }
   .com p{
       font-size: 30px;
       color: #000000;
       
   }
   .email{
       margin: auto 100px;
       text-align: right;
      
}